<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="auth-wrapper">
        <div class="auth-content">
            <div class="auth-bg">
                <span class="r"></span>
                <span class="r s"></span>
                <span class="r s"></span>
                <span class="r"></span>
            </div>
            <div class="card">
                <div class="card-body text-center">
                    <div class="mb-4">
                        <i class="feather icon-unlock auth-icon"></i>
                    </div>
                    <h3 class="mb-4">Login</h3>
                    <div class="input-group mb-3">
                        <input type="email" class="form-control" placeholder="Email" id="eMail" formControlName="eMail"
                               [ngClass]="{ 'is-invalid': isSubmitted && f['eMail'].errors }">
                        <div *ngIf="isSubmitted && f['eMail'].errors" class="invalid-feedback"
                             align="left">
                            <div *ngIf="f['eMail'].errors['required']">This field is required</div>
                            <div *ngIf="f['eMail'].errors['email']">This field must be a valid email address</div>
                        </div>
                    </div>
                    <div class="input-group mb-4">
                        <input type="password" class="form-control" placeholder="Password" id="password-input"
                               formControlName="password"
                               [ngClass]="{ 'is-invalid': isSubmitted && f['password'].errors }">
                        <div *ngIf="isSubmitted && f['password'].errors" class="invalid-feedback">
                            <span *ngIf="f['password'].errors['required']">This field is required</span>
                        </div>
                    </div>
                    <button class="btn btn-primary mb-4">Login</button>
                </div>
            </div>
        </div>
    </div>
</form>
